---
import Layout from "../components/Layout.astro";
---

<Layout title="@klinking/squircle">
  <div class="pb-20">
  <h2 class="pb-4 text-center  text-2xl font-semibold text-zinc-300">More coming soon</h2>
  <p class="text-center text-zinc-400">Checkout the <a class="text-indigo-400 hover:underline" href="https://github.com/dogmar/squircle">README</a> for more information.</p></div>
</Layout>
